.pageContent.pageContent--compact
  = form_for [organization, @server, @ip_pool_rule], :remote => true do |f|
    = f.error_messages
    %fieldset.fieldSet
      %h2.fieldSet__title.fieldSet__title--noMargin Điều kiện khớp rule
      .fieldSet__field
        = f.label :to_text, "Địa chỉ nhận", :class => 'fieldSet__label'
        .fieldSet__input
          ~ f.text_area :to_text, :autofocus => true, :class => 'input input--text input--smallArea'
          %p.fieldSet__text
            Đây là danh sách địa chỉ hoặc tên miền cần khớp.
            Áp dụng cho địa chỉ email người nhận.

      .fieldSet__field
        = f.label :from_text, "Địa chỉ gửi", :class => 'fieldSet__label'
        .fieldSet__input
          ~ f.text_area :from_text, :class => 'input input--text input--smallArea'
          %p.fieldSet__text
            Đây là danh sách địa chỉ hoặc tên miền cần khớp.
            Áp dụng cho giá trị <code>From</code> trong header From của email đang được gửi.
    %fieldset.fieldSet
      %h2.fieldSet__title IP pool được chọn
      .fieldSet__field
        = f.label :ip_pool_id, "IP Pool", :class => 'fieldSet__label'
        .fieldSet__input
          = f.collection_select :ip_pool_id, organization.ip_pools.includes(:ip_addresses).order("`default` desc, name asc"), :id, :name, {}, :class => 'input input--select'
          %p.fieldSet__text
            Đây là IP pool sẽ được dùng để gửi email phù hợp với rule này.

    .fieldSetSubmit
      = f.submit "Lưu rule", :class => "button button--positive js-form-submit"
      .fieldSetSubmit__delete
        - if f.object.persisted?
          = link_to "Xóa rule", [organization, @server, @ip_pool_rule], :remote => true, :class => 'button button--danger', :method => :delete, :data => {:confirm => "Bạn chắc chắn muốn xóa rule này?"}
