- if @server
  - page_title << @server.name
  - page_title << "IP Pool Rules"
- else
  - page_title << "IPs"
  - page_title << "Rules"

- if @server
  = render 'servers/sidebar', :active_server => @server
  = render 'servers/header', :active_nav => :settings
  = render 'servers/settings_header', :active_nav => :ip_pool_rules
- else
  .pageHeader
    %h1.pageHeader__title
      %span.pageHeader__titlePrevious
        = @organization.name
        &rarr;
      IP pool rules
  = render 'organizations/nav', :active_nav => :ips
  = render 'organization_ip_pools/nav', :active_nav => :rules

.pageContent.pageContent--compact
  - if @ip_pool_rules.empty?
    .noData.noData--clean
      - if @server.nil?
        %h2.noData__title Chưa cấu hình rule toàn cục.
        %p.noData__text
          Bạn có thể dùng IP pool rule để chọn địa chỉ IP gửi đi dựa trên email
          đi qua OmmicomMail. Rule có thể áp dụng toàn cục hoặc theo từng máy chủ.
        %p.noData__button= link_to "Thêm rule toàn cục", [:new, organization, @server, :ip_pool_rule], :class => "button button--positive"
      - else
        %h2.noData__title Máy chủ này chưa có IP rule.
        %p.noData__text
          Bạn có thể dùng IP pool rule để chọn địa chỉ IP gửi đi dựa trên email
          đi qua OmmicomMail. Rule có thể áp dụng toàn cục hoặc theo từng máy chủ.
        %p.noData__button= link_to "Thêm rule cho máy chủ", [:new, organization, @server, :ip_pool_rule], :class => "button button--positive"
        -
  - else
    .ipPoolRuleList.u-margin
      - for ip_pool_rule in @ip_pool_rules
        .ipPoolRuleList__item
          = link_to [:edit, organization, @server, ip_pool_rule], :class => 'ipPoolRuleList__link' do
            - if ip_pool_rule.to.present?
              %dl.ipPoolRuleList__condition
                %dt Email gửi tới:
                %dd
                  %ul
                    - for a in ip_pool_rule.to
                      %li= a
            - if ip_pool_rule.from.present?
              %dl.ipPoolRuleList__condition
                %dt Email gửi từ:
                %dd
                  %ul
                    - for a in ip_pool_rule.from
                      %li= a

            %dl.ipPoolRuleList__condition
              %dt Sẽ gửi bằng:
              %dd= ip_pool_rule.ip_pool.name
    - if @server && @server.ip_pool
      %p.ipPoolRuleListDefault.u-margin Tất cả email không khớp rule phía trên sẽ được gửi bằng #{@server.ip_pool.name}.
    %p.u-center= link_to "Thêm rule", [:new, organization, @server, :ip_pool_rule], :class => "button button--positive"
