- page_title << @server.name
- page_title << "Trợ giúp"
- page_title << "Nhận email"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :help
= render 'header', :active_nav => :incoming

.pageContent.pageContent--compact
  %h1.pageContent__title Nhận email
  %h2.pageContent__intro.u-margin
    Hệ thống có thể xử lý email nhận vào bằng cách nhận email từ máy chủ mail khác,
    sau đó gửi tới ứng dụng của bạn qua HTTP hoặc chuyển tiếp tới máy chủ SMTP khác.
  %p.u-margin.pageContent__helpLink= link_to "Xem thêm về gửi email", [organization, @server, :help_outgoing]
  .u-margin
    %h2.pageContent__subTitle Chuyển tiếp email
    %p.pageContent__text
      Nếu đã có máy chủ nhận email cho tên miền, cách nhanh nhất để bắt đầu là chuyển tiếp email
      từ máy chủ đó sang hệ thống. Bạn không cần thay đổi DNS để làm việc này.
    %p.pageContent__text
      Chỉ cần #{link_to "tạo route nhận email", [organization, @server, :routes], :class => "u-link"}
      cho địa chỉ bạn muốn nhận. Hệ thống sẽ cung cấp một địa chỉ email để bạn chuyển tiếp tới.
      Email nhận vào địa chỉ này sẽ được xử lý như gửi trực tiếp tới địa chỉ trên route.
    %p.pageContent__text
      Bạn có thể tìm địa chỉ chuyển tiếp bằng cách mở route và sao chép trường Địa chỉ trong form.

  .u-margin
    %h2.pageContent__subTitle Cấu hình bản ghi MX
    %p.pageContent__text
      Nếu tên miền chưa có máy chủ mail, bạn có thể trỏ bản ghi MX về hệ thống này.
      Các bản ghi MX được hiển thị bên dưới và nên được thêm với priority 10 trong cấu hình DNS.
      Sau khi thêm thành công, tên miền sẽ hiển thị dấu tích xanh trong danh sách.
    %dl.pageContent__definitions
      %dt MX Records
      %dd
        - for mx in OmmicomMail::Config.dns.mx_records
          %p.pageContent__definitionCode= mx
