- page_title << @server.name
- page_title << "Trợ giúp"
- page_title << "Gửi email"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :help
= render 'header', :active_nav => :outgoing
.pageContent.pageContent--compact
  %h1.pageContent__title Gửi email
  %h2.pageContent__intro.u-margin
    Có một vài cách để gửi email đi qua máy chủ mail.
    Các phương thức được hiển thị bên dưới:
  %p.u-margin.pageContent__helpLink= link_to "Xem thêm về nhận email", [organization, @server, :help_incoming]
  .u-margin
    %h2.pageContent__subTitle Lưu ý quan trọng
    %ul.pageContent__list
      %li
        Email chỉ có thể được gửi từ các địa chỉ thuộc tên miền đã thêm vào máy chủ mail hoặc tổ chức của máy chủ.
        Admin có thể bật quyền gửi email từ bất kỳ tên miền nào.
      %li
        Nếu email không thể chuyển phát, hệ thống sẽ không gửi bounce message cho bạn mà sẽ gửi webhook nếu đã cấu hình.
        Nếu lỗi chuyển phát có thể thử lại, hệ thống sẽ thử #{OmmicomMail::Config.postal.default_maximum_delivery_attempts} lần trước khi dừng.
  .u-margin
    %h2.pageContent__subTitle Gửi bằng SMTP
    %p.pageContent__text
      Hướng dẫn này mô tả cách gửi email bằng máy chủ SMTP.

    %dl.pageContent__definitions
      %dt Địa chỉ máy chủ SMTP
      %dd
        %p.pageContent__definitionCode= OmmicomMail::Config.postal.smtp_hostname
      %dt Port
      %dd
        %p.pageContent__definitionCode= OmmicomMail::Config.smtp_server.default_port
        %p.pageContent__definitionText
          Dịch vụ SMTP hỗ trợ STARTTLS nếu bạn muốn gửi email an toàn hơn.
          Lưu ý bảo mật không thể được đảm bảo trên toàn bộ đường đi tới đích cuối.

      %dt Username
      %dd
        %p.pageContent__definitionCode= @server.full_permalink
      %dt Password
      %dd
        - if @credentials['SMTP'].present?
          %p.pageContent__definitionCode
            = @credentials['SMTP'].first.key
          %p.pageContent__definitionText= link_to "Tạo thêm thông tin xác thực", [organization, @server, :credentials], :class => "u-link"
        - else
          %p.warningBox
            %b Máy chủ này chưa có thông tin xác thực SMTP.
            Mật khẩu có thể được tạo từ trang #{link_to 'thông tin xác thực', [:new, organization, @server, :credential], :class => "u-link"}.
            Hãy tạo thông tin xác thực loại <b>SMTP</b> và đặt tên phù hợp với nơi bạn sẽ sử dụng.

      %dt Phương thức xác thực
      %dd
        %p.pageContent__definitionCode PLAIN, LOGIN or CRAM-MD5

  .u-margin
    %h2.pageContent__subTitle Gửi qua HTTP bằng API
    %p.pageContent__text
      Dùng HTTP API với thông tin xác thực hiển thị trong trang thông tin xác thực của máy chủ này.
