%ul.deliveryList
  - if message.queued_message && message.queued_message.locked?
    %li.deliveryList__item.deliveryList__item--header
      %p Email này đang được xử lý.
  - elsif message.queued_message && message.queued_message.retry_after
    %li.deliveryList__item.deliveryList__item--header
      %p Email này sẽ được tự động thử gửi lại sau #{distance_of_time_in_words_to_now message.queued_message.retry_after}.
      %p= link_to "Thử gửi lại ngay", retry_organization_server_message_path(organization, @server, message.id), :class => "button button--small", :remote => true, :method => :post
  - elsif message.held?
    %li.deliveryList__item.deliveryList__item--header
      %p
        Email này đang được giữ lại. Khi mở giữ, hệ thống sẽ cho phép email tiếp tục gửi tới đích.
        - if @message.hold_expiry
          Email sẽ được giữ tới #{@message.hold_expiry.to_fs(:long)}.
      %p.buttonSet
        = link_to "Mở giữ email", retry_organization_server_message_path(organization, @server, message.id), :class => "button button--small", :remote => true, :method => :post
        = link_to "Hủy giữ", cancel_hold_organization_server_message_path(organization, @server, message.id), :class => "button button--small button--danger", :remote => true, :method => :post
  - elsif @server.mode == 'Development'
    %li.deliveryList__item.deliveryList__item--header
      %p Máy chủ đang ở chế độ phát triển, nên email này có thể được gửi lại như vừa mới nhận.
      %p= link_to "Gửi lại email", retry_organization_server_message_path(organization, @server, message.id), :class => "button button--small", :remote => true, :method => :post
  - else
    %li.deliveryList__item.deliveryList__item--header
      %p Email này có thể được gửi lại như vừa mới nhận.
      %p= link_to "Gửi lại email", retry_organization_server_message_path(organization, @server, message.id), :class => "button button--small", :remote => true, :method => :post

  - if message.deliveries.empty?
    %li.deliveryList__item
      .noData.noData--clean
        %h2.noData__text Chưa có lần thử gửi nào.
  - else
    - for delivery in message.deliveries.reverse
      %li.deliveryList__item
        .deliveryList__top
          .deliveryList__time
            = delivery.timestamp.to_fs(:long)
          .deliveryList__status
            - if delivery.sent_with_ssl
              = image_tag 'icons/lock.svg', :class => 'deliveryList__secure'
            %span.label.label--large{:class => "label--messageStatus-#{delivery.status.underscore}"}= delivery.status.underscore.humanize
        - if delivery.details
          %p.deliveryList__error= format_delivery_details(@server, delivery.details)
        - if delivery.log_id || delivery.output
          = link_to "Hiển thị chi tiết kỹ thuật", '#', :class => 'js-toggle js-tech-link deliveryList__techLink', :data => {:element => '.js-tech-link, .js-tech-output'}
          .deliveryList__error.deliveryList__error--output.js-tech-output.is-hidden
            %p.deliveryList__error--output-text= delivery.output
            - if delivery.time
              %p.deliveryList__error--output-ref Thời gian: #{delivery.time}s
            - if delivery.log_id
              %p.deliveryList__error--output-ref Mã hỗ trợ: #{delivery.log_id}
- if message.queued_message && !message.queued_message.locked?
  %p.deliveryList-removeLink= link_to "Xóa khỏi hàng đợi", remove_from_queue_organization_server_message_path(organization, @server, message.id), :method => :delete, :remote => true, :data => {:disable_with => "Đang xóa...", :confirm => "Bạn chắc chắn muốn xóa email này khỏi hàng đợi?"}, :class => "u-link"
