- page_title << @server.name
- page_title << "Email"
- page_title << "Email ##{@message.id}"
- page_title << "Hoạt động"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => @message.scope.to_sym
= render 'message_header', :active_nav => :activity
.pageContent.pageContent--compact
  %ul.messageActivity
    - for entry in @entries.reverse
      - if entry.is_a?(OmmicomMail::MessageDB::Delivery)
        %li.messageActivity__event
          %p.messageActivity__timestamp= entry.timestamp.to_fs(:long)
          .messageActivity__details.messageActivity--detailsDelivery
            %p.messageActivity__subject
              =# entry.status.underscore.humanize
              %span.label.label--large{:class => "label--messageStatus-#{entry.status.underscore}"}= entry.status.underscore.humanize

            %p.messageActivity__extra= entry.details

      - elsif entry.is_a?(OmmicomMail::MessageDB::Click)
        %li.messageActivity__event
          %p.messageActivity__timestamp= entry.timestamp.to_fs(:long)
          .messageActivity__details.messageActivity--detailsClick
            %p.messageActivity__subject Nhấp vào #{entry.url}
            %p.messageActivity__extra Được nhấp từ #{entry.ip_address} (#{entry.user_agent})

      - elsif entry.is_a?(OmmicomMail::MessageDB::Load)
        %li.messageActivity__event
          %p.messageActivity__timestamp= entry.timestamp.to_fs(:long)
          .messageActivity__details.messageActivity--detailsLoad
            %p.messageActivity__subject Email đã được xem
            %p.messageActivity__extra Được mở từ #{entry.ip_address} (#{entry.user_agent})

    %li.messageActivity__event
      %p.messageActivity__timestamp= @message.timestamp.to_fs(:long)
      .messageActivity__details
        %p.messageActivity__subject
          Email được OmmicomMail tiếp nhận
        %p.messageActivity__extra
          - if @message.credential
            Được tiếp nhận bằng thông tin xác thực #{@message.credential.name} #{@message.credential.type}.
          - if @message.received_with_ssl
            Kết nối được bảo mật bằng SSL.
