- page_title << @server.name
- page_title << "Email"
- page_title << "Email ##{@message.id}"
- page_title << "Tệp đính kèm"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => @message.scope.to_sym
= render 'message_header', :active_nav => :attachments
.pageContent.pageContent--compact
  - if @message.attachments.empty?
    .noData.noData--clean
      %h2.noData__title Email này không có tệp đính kèm.
      %p.noData__text
        Có thể hệ thống không còn lưu dữ liệu gốc của email này,
        hoặc email không có tệp đính kèm.
  - else
    %ul.largeList
      - @message.attachments.each_with_index do |attachment, i|
        %li.largeList__item
          = link_to attachment_organization_server_message_path(organization, @server, @message.id, :attachment => i), :class => 'largeList__link', :data => {:turbolinks => "false"} do
            %p.largeList__rightLabel= number_to_human_size attachment.body.to_s.bytesize
            %p= attachment.filename
            %p.largeList__subText= attachment.mime_type
