- page_title << @server.name
- page_title << "Email"
- page_title << "Email ##{@message.id}"
- page_title << "Headers"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => @message.scope.to_sym
= render 'message_header', :active_nav => :headers

- if @message.headers.empty?
  .pageContent.pageContent--compact
    .noData.noData--clean
      %h2.noData__title Email này không còn header.
      %p.noData__text
        Điều này nghĩa là hệ thống không còn lưu dữ liệu gốc của email này.

- else
  .pageContent
    .headersList
      - for key, values in @message.headers
        - for value in values
          %dl.headersList__item
            %dt= key
            %dd= value

