- page_title << @server.name
- page_title << "Email"
- page_title << "Gửi"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => :new
.pageContent.pageContent--compact
  %p.pageContent__intro.u-margin
    Bạn có thể dùng form này để gửi email qua máy chủ mail.
    Tính năng này hữu ích khi kiểm thử hoặc debug.
  - if @message.is_a?(OutgoingMessagePrototype)
    %p.pageContent__text.u-margin.newMessageType.newMessageType--outgoing
      <b>Bạn đang gửi email đi.</b> Email này sẽ được định tuyến như email được gửi từ máy chủ mail của bạn.
      = link_to "Mô phỏng email nhận vào?", {:direction => 'incoming'}, :class => 'u-link'
  - else
    %p.pageContent__text.u-margin.newMessageType.newMessageType--incoming
      <b>Bạn đang gửi email nhận vào.</b> Email này chỉ có thể gửi tới các route và sẽ hoạt động như email được máy chủ của bạn nhận.
      = link_to "Mô phỏng email gửi đi?", {:direction => 'outgoing'}, :class => 'u-link'
  = form_tag [organization, @server, :messages], :remote => true do
    = hidden_field_tag 'direction', params[:direction]
    .fieldSet
      - if @message.is_a?(OutgoingMessagePrototype)
        .fieldSet__field
          = label_tag :message_from, "Từ", :class => 'fieldSet__label'
          .fieldSet__input
            = text_field_tag "message[from]", @message.from, :autofocus => true, :class => 'input input--text'
            %p.fieldSet__text
              Nhập địa chỉ bạn muốn dùng để gửi email. Địa chỉ này phải thuộc
              một trong các tên miền đã xác minh.
        .fieldSet__field
          = label_tag :message_to, "Tới", :class => 'fieldSet__label'
          .fieldSet__input= text_field_tag "message[to]", @message.to, :class => 'input input--text'
      - else
        .fieldSet__field
          = label_tag :message_route_id, "Route", :class => 'fieldSet__label'
          .fieldSet__input= text_field_tag "message[to]", @message.to, :class => 'input input--text'

        .fieldSet__field
          = label_tag :message_from, "Từ", :class => 'fieldSet__label'
          .fieldSet__input= text_field_tag "message[from]", @message.from, :class => 'input input--text'
      .fieldSet__field
        = label_tag :message_subject, "Tiêu đề", :class => 'fieldSet__label'
        .fieldSet__input= text_field_tag "message[subject]", @message.subject, :class => 'input input--text'
      .fieldSet__field
        = label_tag :message_plain_body, "Nội dung", :class => 'fieldSet__label'
        .fieldSet__input= text_area_tag "message[plain_body]", @message.plain_body, :class => 'input input--area'
    .fieldSetSubmit.buttonSet
      = submit_tag "Gửi email", :class => 'button button--positive js-form-submit'

