- page_title << "Đặt lại mật khẩu"
.subPageBox__title
  Đặt lại mật khẩu
= display_flash
.subPageBox__content
  %p.subPageBox__text
    Nếu bạn quên mật khẩu, hãy nhập địa chỉ email bên dưới. Chúng tôi sẽ gửi cho bạn một liên kết để tạo mật khẩu mới.
  = form_tag login_reset_path, :class => 'loginForm' do
    = hidden_field_tag 'return_to', params[:return_to]
    %p.loginForm__input= text_field_tag 'email_address', '', :class => 'input input--text input--onWhite', :placeholder => "Địa chỉ email của bạn", :autofocus => true, :tabindex => 1
    .loginForm__submit
      %ul.loginForm__links
        %li= link_to "Quay lại đăng nhập", login_path(:return_to => params[:return_to])
      %p= submit_tag "Tiếp tục", :class => 'button button--positive', :tabindex => 3

