- page_title << "IPs"
- page_title << "Rules"

.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = @organization.name
      &rarr;
    IP riêng

= render 'organizations/nav', :active_nav => :ips
= render 'nav', :active_nav => :ips

.pageContent.pageContent--compact
  - if current_user.admin?
    %p.pageContent__intro.u-margin
      Chọn IP pool mà tổ chức này được phép dùng để gửi email. Người dùng trong tổ chức
      có thể chọn các pool bên dưới. Admin có thể ghi đè theo từng máy chủ nếu cần.
    = form_tag [:assignments, @organization, :ip_pools], :method => :put do
      %ul.checkboxList.u-margin
        - for ip_pool in IPPool.order(:name)
          %li.checkboxList__item
            .checkboxList__checkbox= check_box_tag "ip_pools[]", ip_pool.id, @organization.ip_pools.include?(ip_pool), :id => "ip_pool_#{ip_pool.id}"
            .checkboxList__label
              = label_tag "ip_pool_#{ip_pool.id}", ip_pool.name, :class => 'checkboxList__actualLabel'
      %p= submit_tag "Lưu gán IP pool", :class => 'button button--positive'
  - else
    - if @ip_pools.empty?
      .noData.noData--clean
        - if @server.nil?
          %h2.noData__title Bạn chưa được gán địa chỉ IP nào.
          %p.noData__text
            Khi được gán địa chỉ IP, chúng sẽ xuất hiện tại đây. Sau đó bạn có thể dùng chúng trong rule
            và cho máy chủ.
    - else
      .ipList
        - for ip_pool in @ip_pools
          .ipList__item
            %p.ipList__name= ip_pool.name
            %ul.ipList__addressList
              %li.ipList__address.ipList__address--header
                %p.ipList__ipv4 Địa chỉ IPv4
                %p.ipList__ipv6 Địa chỉ IPv6
                %p.ipList__hostname Hostname

              - for address in ip_pool.ip_addresses
                %li.ipList__address
                  %p.ipList__ipv4= address.ipv4
                  %p.ipList__ipv6= address.ipv6
                  %p.ipList__hostname= address.hostname


