= form_for [@ip_pool, @ip_address], :remote => true do |f|
  = f.error_messages
  %fieldset.fieldSet
    .fieldSet__field
      = f.label :ipv4, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :ipv4, :autofocus => true, :class => 'input input--text'
    .fieldSet__field
      = f.label :ipv6, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :ipv6, :class => 'input input--text'
    .fieldSet__field
      = f.label :hostname, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :hostname, :class => 'input input--text'
    .fieldSet__field
      = f.label :priority, :class => 'fieldSet__label'
      .fieldSet__input
        = f.text_field :priority, :class => 'input input--text', placeholder: '100'
        %p.fieldSet__text
          Mức ưu tiên quyết định khả năng địa chỉ IP này được chọn khi gửi email.
          Số càng cao thì IP càng dễ được chọn. Mặc định mức ưu tiên tối đa là 100.
          Có thể dùng mức ưu tiên thấp để warm up IP mới. Ví dụ nếu có ba IP với ưu tiên
          1, 50 và 100, khi gửi 100.000 email thì IP ưu tiên 1 nhận tỷ lệ rất nhỏ,
          IP ưu tiên 50 nhận khoảng một phần ba và IP ưu tiên 100 nhận khoảng hai phần ba.

  .fieldSetSubmit.buttonSet
    = f.submit :class => 'button button--positive js-form-submit'
    .fieldSetSubmit__delete
      - if @ip_address.persisted?
        = link_to "Xóa địa chỉ IP", [@ip_pool, @ip_address], :class => 'button button--danger', :method => :delete, :remote => true, :data => {:confirm => "Bạn chắc chắn muốn xóa IP này khỏi pool?"}
