- page_title << @server.name
- page_title << "Định tuyến"
- page_title << "SMTP Endpoints"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :routing
= render 'routes/header', :active_nav => :smtp_endpoints
.pageContent.pageContent--compact

  - if @smtp_endpoints.empty?
    .noData.noData--clean
      %h2.noData__title Máy chủ này chưa có SMTP endpoint.
      %p.noData__text
        SMTP endpoint là các máy chủ mail khác mà bạn muốn chuyển tiếp email nhận vào.
        Sau khi thêm endpoint, bạn có thể định tuyến email tới chúng bằng cách tạo #{link_to 'route', [organization, @server, :routes], :class => 'u-link'}.
      %p.noData__button
        = link_to "Thêm SMTP endpoint đầu tiên", [:new, organization, @server, :smtp_endpoint], :class => 'button button--positive'

  - else

    %ul.endpointList.u-margin
      - for endpoint in @smtp_endpoints
        %li.endpointList__item
          = link_to [:edit, organization, @server, endpoint], :class => 'endpointList__link' do
            .endpointList__main
              %p.endpointList__name= endpoint.name
              %p.endpointList__url= endpoint.hostname
            %ul.endpointList__details
              %li.endpointList__detailItem
                - if endpoint.last_used_at
                  Đã dùng #{distance_of_time_in_words_to_now endpoint.last_used_at} trước
                - else
                  Chưa được sử dụng

    %p.u-center= link_to "Thêm SMTP endpoint", [:new, organization, @server, :smtp_endpoint], :class => 'button button--positive'
