= form_for [organization, @server], :remote => true do |f|
  = f.error_messages
  %fieldset.fieldSet
    .fieldSet__field
      = f.label :name, :class => 'fieldSet__label'
      .fieldSet__input= f.text_field :name, :autofocus => true, :class => 'input input--text'
    .fieldSet__field
      = f.label :permalink, :class => 'fieldSet__label'
      .fieldSet__input
        = f.text_field :permalink, :class => 'input input--text', :placeholder => "Tự động tạo", :disabled => @server.persisted?
        %p.fieldSet__text
          Đây là tên ngắn dùng trong username và API để nhận diện tổ chức.
          Chỉ nên gồm chữ cái, số và dấu gạch ngang.
    .fieldSet__field
      = f.label :mode, :class => 'fieldSet__label'
      .fieldSet__input
        = f.select :mode, Server::MODES, {}, :autofocus => true, :class => 'input input--select'
        %p.fieldSet__text
          Chế độ bạn chọn sẽ quyết định cách xử lý email. Ở chế độ <b>Live</b>, email
          được định tuyến bình thường tới người nhận. Ở chế độ <b>Development</b>,
          email gửi đi và nhận vào sẽ được giữ lại, chỉ hiển thị trên giao diện web
          và không gửi tới người nhận hoặc HTTP endpoint.

    - if OmmicomMail.ip_pools?
      .fieldSet__field
        = f.label :ip_pool_id, :class => 'fieldSet__label'
        .fieldSet__input
          = f.collection_select :ip_pool_id, organization.ip_pools.includes(:ip_addresses).order("`default` desc, name asc"), :id, :name, {}, :class => 'input input--select'
          %p.fieldSet__text
            Đây là nhóm địa chỉ IP dùng để gửi email đi.

    - if @server.persisted?
      .fieldSet__field
        = f.label :allow_sender, "Gửi bằng địa chỉ bất kỳ", :class => 'fieldSet__label'
        .fieldSet__input
          .input.is-disabled= @server.allow_sender? ? "Đang bật" : "Đang tắt"
          %p.fieldSet__text
            Khi bật, email gửi đi có thể dùng bất kỳ địa chỉ nào trong header <code>From</code>.
            Bạn cần thêm header <code>Sender</code> là một địa chỉ thuộc tên miền đã xác minh.

      .fieldSet__field
        = f.label :postmaster_address, "Postmaster", :class => 'fieldSet__label'
        .fieldSet__input
          = f.text_field :postmaster_address, :class => 'input input--text', :placeholder => "Đặt theo tên miền"
          %p.fieldSet__text
            Đây là địa chỉ email được đưa vào email bounce khi email nhận vào không thể chuyển phát.
            Mặc định là <code>postmaster@[yourdomain.com]</code>.

  .fieldSetSubmit.buttonSet
    = f.submit f.object.new_record? ? "Tạo máy chủ" : "Lưu máy chủ", :class => 'button button--positive js-form-submit'
    .fieldSetSubmit__delete
      - unless f.object.persisted?
        = link_to "Quay lại danh sách máy chủ", organization_root_path(organization), :class => 'button button--neutral'

