- page_title << @server.name
- page_title << "Cài đặt"
- page_title << "Nâng cao"
= render 'sidebar', :active_server => @server
= render 'header', :active_nav => :settings
= render 'settings_header', :active_nav => :admin
.pageContent.pageContent--compact
  .u-margin
    = form_for [organization, @server], :remote => true do |f|
      = f.error_messages
      %fieldset.fieldSet.fieldSet--wide
        .fieldSet__field
          = f.label :send_limit, :class => 'fieldSet__label'
          .fieldSet__input
            = f.text_field :send_limit, :class => 'input input--text', :placeholder => "Không giới hạn"
            %p.fieldSet__text Đây là số email tối đa có thể gửi qua máy chủ mail này trong 60 phút.
        .fieldSet__field
          = f.label :allow_sender, "Cho phép header Sender", :class => 'fieldSet__label'
          .fieldSet__input
            = f.select :allow_sender, [["Không", false], ["Có - có thể dùng header Sender", true]], {}, :class => 'input input--select'
            %p.fieldSet__text Nếu bật, email gửi đi có thể dùng bất kỳ địa chỉ nào trong header From miễn là có header Sender với địa chỉ được cấp quyền.
        .fieldSet__field
          = f.label :privacy_mode, "Chế độ riêng tư", :class => 'fieldSet__label'
          .fieldSet__input
            = f.select :privacy_mode, [["Tắt", false], ["Bật", true]], {}, :class => 'input input--select'
            %p.fieldSet__text Nếu bật, khi OmmicomMail thêm header Received vào email, hệ thống sẽ không ghi IP hoặc hostname của client gửi email.
        .fieldSet__field
          = f.label :log_smtp_data, "Ghi log dữ liệu SMTP?", :class => 'fieldSet__label'
          .fieldSet__input
            = f.select :log_smtp_data, [["Không", false], ["Có - ghi toàn bộ SMTP DATA (chỉ debug)", true]], {}, :class => 'input input--select'
            %p.fieldSet__text
              Mặc định hệ thống không ghi thông tin sau lệnh DATA trong SMTP. Nếu bật, toàn bộ dữ liệu này cũng sẽ được ghi log.
              Chỉ nên dùng để debug.
        .fieldSet__field
          = f.label :outbound_spam_threshold, :class => 'fieldSet__label'
          .fieldSet__input
            = f.text_field :outbound_spam_threshold, :class => 'input input--text', :placeholder => "Không kiểm tra spam gửi đi"
            %p.fieldSet__text
              Mặc định email gửi đi không được quét spam. Bạn có thể đặt ngưỡng tại đây;
              email vượt ngưỡng sẽ không được phép gửi qua máy chủ mail.
        .fieldSet__field
          = f.label :message_retention_days, :class => 'fieldSet__label'
          .fieldSet__input
            = f.text_field :message_retention_days, :class => 'input input--text'
            %p.fieldSet__text
              Số ngày lưu metadata của email trong cơ sở dữ liệu sau khi được thêm vào.
        .fieldSet__field
          = f.label :raw_message_retention_days, :class => 'fieldSet__label'
          .fieldSet__input
            = f.text_field :raw_message_retention_days, :class => 'input input--text'
            %p.fieldSet__text
              Số ngày lưu dữ liệu email gốc (nội dung và tệp đính kèm) trong cơ sở dữ liệu.
        .fieldSet__field
          = f.label :raw_message_retention_size, :class => 'fieldSet__label'
          .fieldSet__input
            = f.text_field :raw_message_retention_size, :class => 'input input--text'
            %p.fieldSet__text
              Tổng dung lượng ổ đĩa (MB) cho phép dữ liệu email gốc sử dụng. Email cũ sẽ bị xóa để giữ
              tổng dung lượng dưới mức này.

      .fieldSetSubmit.fieldSetSubmit--wide.buttonSet
        = f.submit "Lưu máy chủ", :class => 'button button--positive js-form-submit'

  - if @server.suspended_at
    = form_tag [:unsuspend, organization, @server], :remote => true do
      .fieldSetSubmit.fieldSetSubmit--wide.buttonSet
        = submit_tag "Mở tạm ngưng máy chủ", :class => 'button button--danger js-form-submit'

  - else
    = form_tag [:suspend, organization, @server], :remote => true do
      %fieldset.fieldSet.fieldSet--wide
        .fieldSet__field
          = label_tag :reason, 'Lý do tạm ngưng', :class => 'fieldSet__label'
          .fieldSet__input
            = text_field_tag :reason, '', :class => 'input input--text', :required => true
            %p.fieldSet__text
              Nếu muốn vô hiệu hóa máy chủ này và dừng gửi email, hãy nhập lý do phía trên.
              Người dùng được gán với máy chủ sẽ nhận thông báo tạm ngưng qua email.

      .fieldSetSubmit.fieldSetSubmit--wide.buttonSet
        = submit_tag "Tạm ngưng máy chủ", :class => 'button button--positive js-form-submit'
