- page_title << @server.name
- page_title << "Email"
- page_title << "Hàng đợi"
= render 'sidebar', :active_server => @server
= render 'header', :active_nav => :messages
= render 'messages/header', :active_nav => :queue

- if @messages.empty?
  .pageContent--compact
    .noData.noData--clean
      %h2.noData__title Hàng đợi hiện đang trống.
      %p.noData__text
        Email chưa gửi thành công sẽ nằm trong hàng đợi cho tới khi hệ thống gửi được
        hoặc ngừng thử gửi.
- else
  .pageContent
    %p.pageContent__intro.u-margin
      Tất cả email đi qua máy chủ mail sẽ vào hàng đợi trước. Email chưa thể gửi ngay
      sẽ nằm tại đây cho tới khi gửi thành công hoặc hệ thống ngừng thử.
    = render 'messages/list', :messages => @messages_with_message

    = paginate @messages
