- page_title << @server.name
= render 'sidebar', :active_server => @server
= render 'header', :active_nav => :overview

- if @messages.empty?
  .pageContent--compact
    .noData.noData--clean
      %h2.noData__title Máy chủ mail mới đã sẵn sàng.
      %p.noData__text
        Xem thông tin bên dưới để bắt đầu gửi và nhận email qua máy chủ mail mới.
      %p.noData__button.buttonSet.buttonSet--center
        = link_to "Hướng dẫn gửi email", [organization, @server, :help_outgoing], :class => "button"
        = link_to "Hướng dẫn nhận email", [organization, @server, :help_incoming], :class => "button"
- else
  .pageContent
    - if @server.suspended?
      .suspensionBox.u-margin
        %p
          Máy chủ này đã bị tạm ngưng và không được phép gửi hoặc nhận email.
          Nếu có câu hỏi, vui lòng liên hệ đội ngũ hỗ trợ để được trợ giúp.
          Máy chủ bị tạm ngưng sẽ bị xóa hoàn toàn khỏi hệ thống sau 30 ngày kể từ thời điểm tạm ngưng.
        - if @server.actual_suspension_reason
          %p.suspensionBox__reason
            <b>Lý do:</b> #{@server.actual_suspension_reason}

    .mailGraph.u-margin{:data => {:data => @graph_data.to_json}}
      %ul.mailGraph__key
        %li.mailGraph__key--in Email nhận vào
        %li.mailGraph__key--out Email gửi đi

      .mailGraph__graph
      %ul.mailGraph__labels
        - if @graph_type == :hourly
          %li #{@first_date.strftime("%A at %l%P")} &rarr;
          %li Hôm nay lúc #{Time.now.strftime("%l%P")}
        - else
          %li #{@first_date.to_date.to_fs(:long)} &rarr;
          %li Hôm nay

    .titleWithLinks.u-margin
      %h2.titleWithLinks__title Email xử lý gần đây
      %ul.titleWithLinks__links
        %li= link_to "Xem hàng đợi email", [:queue, organization, @server], :class => 'titleWithLinks__link'
        %li= link_to "Xem toàn bộ lịch sử email", [:outgoing, organization, @server, :messages], :class => 'titleWithLinks__link'
    = render 'messages/list', :messages => @messages
