- page_title << "Người dùng"
.pageHeader
  %h1.pageHeader__title
    Người dùng

.pageContent.pageContent--compact
  %ul.userList.u-margin
    - for user in @users
      %li.userList__item
        .userList__details
          %p.userList__name
            = user.name
            - if user.admin?
              %span.userList__tag.label.label--blue Admin
            - if OmmicomMail::Config.oidc.enabled?
              - if user.oidc?
                %span.userList__tag.label.label--green OIDC
              - elsif !OmmicomMail::Config.oidc.local_authentication_enabled?
                %span.userList__tag.label.label--orange Chờ xử lý
              
          %p.userList__email= user.email_address
        %ul.userList__actions
          %li= link_to "Sửa người dùng", [:edit, user]
          %li= link_to "Xóa người dùng", user, :method => :delete, :data => {:confirm => "Bạn có chắc muốn thu hồi quyền truy cập của #{user.name}?", :disable_with => "Đang xóa..."}, :remote => true, :class => 'userList__revoke'

  %p.u-center= link_to "Thêm người dùng mới", :new_user, :class => 'button button--positive'
