= form_for [organization, @server, @track_domain], :remote => true do |f|
  = f.error_messages
  %fieldset.fieldSet
    .fieldSet__field
      = f.label :name, "Tên miền", :class => 'fieldSet__label'
      .fieldSet__input
        .routeNameInput
          = f.text_field :name, :autofocus => true, :class => 'input input--text routeNameInput__name', :disabled => @track_domain.persisted?
          %span.routeNameInput__at .
          = f.select :domain_id, domain_options_for_select(@server, @track_domain.domain), {}, :class => 'input input--select routeNameInput__domain', :disabled => @track_domain.persisted?
        %p.fieldSet__text
          Đây là tên miền dùng để chuyển hướng các liên kết được theo dõi khi bật click tracking. Khuyến nghị dùng dạng
          <b>click.yourdomain.com</b>. Sau khi chọn, hãy thêm bản ghi CNAME trỏ tới <b>#{OmmicomMail::Config.dns.track_domain}</b>.

    .fieldSet__field
      = f.label :ssl_enabled, :class => 'fieldSet__label'
      .fieldSet__input
        = f.select :ssl_enabled, [["Có - dùng SSL cho tracking khi có thể", true], ["Không - không dùng SSL cho tracking", false]], {}, :class => 'input input--select'
        %p.fieldSet__text
          Nếu bật, hệ thống sẽ dùng HTTPS cho tracking domain khi thay thế liên kết và hình ảnh.
          Tracking domain cần có chứng chỉ SSL nếu bật tùy chọn này.

    .fieldSet__field
      = f.label :track_loads, :class => 'fieldSet__label'
      .fieldSet__input
        = f.select :track_loads, [["Có - theo dõi khi email HTML được mở", true], ["Không - không theo dõi lượt mở email HTML", false]], {}, :class => 'input input--select'
        %p.fieldSet__text
          Nếu bật, hệ thống sẽ chèn ảnh 1px vào cuối email HTML. Khi ảnh được tải,
          hệ thống sẽ ghi nhận một lượt xem và thông báo qua webhook.

    .fieldSet__field
      = f.label :track_clicks, :class => 'fieldSet__label'
      .fieldSet__input
        = f.select :track_clicks, [["Có - theo dõi khi liên kết được nhấp", true], ["Không - không theo dõi lượt nhấp liên kết", false]], {}, :class => 'input input--select'
        %p.fieldSet__text
          Nếu bật, hệ thống sẽ viết lại URL trong email gửi đi để đi qua tên miền này.
          Bạn sẽ nhận webhook khi có người nhấp liên kết và sự kiện sẽ hiển thị trên giao diện web.

    .fieldSet__field
      = f.label :excluded_click_domains, "Tên miền loại trừ khỏi tracking", :class => 'fieldSet__label'
      .fieldSet__input
        ~ f.text_area :excluded_click_domains, :class => 'input input--smallArea'
        %p.fieldSet__text
          Đây là danh sách tên miền của các liên kết bạn không muốn theo dõi. Khi bật click tracking,
          bạn có thể nhập mỗi tên miền trên một dòng để loại trừ khỏi tracking.


  .fieldSetSubmit.buttonSet
    = f.submit @track_domain.new_record? ? "Tạo tracking domain" : "Lưu tracking domain", :class => 'button button--positive js-form-submit'
