- page_title << @server.name
- page_title << "Tracking domains"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :domains
= render 'domains/nav', :active_nav => :track_domains

.pageContent.pageContent--compact

  - if @track_domains.empty?
    .noData.noData--clean
      %h2.noData__title Máy chủ này chưa có tracking domain.
      %p.noData__text
        Để dùng tính năng theo dõi mở email và nhấp liên kết của OmmicomMail, bạn cần cấu hình tên miền để viết lại liên kết.
        Hãy thêm tracking domain phù hợp cho email gửi đi.
      %p.noData__button= link_to "Thêm tracking domain tùy chỉnh", [:new, organization, @server, :track_domain], :class => "button button--positive"

  - else
    %ul.domainList.u-margin
      - for track_domain in @track_domains
        %li.domainList__item
          .domainList__details
            %p.domainList__name
              = link_to track_domain.full_name, [:edit, organization, @server, track_domain]
            %ul.domainList__checks
              - if track_domain.dns_status == 'OK'
                %li.domainList__check.domainList__check--ok CNAME đã cấu hình đúng
              - elsif track_domain.dns_status.nil?
                %li.domainList__check.domainList__check--neutral-cross Chưa kiểm tra CNAME/DNS
              - else
                %li.domainList__check.domainList__check--warning{:title => track_domain.dns_error} CNAME chưa cấu hình đúng

              - if track_domain.ssl_enabled?
                %li.domainList__check.domainList__check--neutral= link_to "SSL đang bật", [:toggle_ssl, organization, @server, track_domain], :remote => true, :method => :post
              - else
                %li.domainList__check.domainList__check--neutral-cross= link_to "SSL đang tắt", [:toggle_ssl, organization, @server, track_domain], :remote => true, :method => :post

          %ul.domainList__properties
            %li.domainList__links
              = link_to "Cài đặt", [:edit, organization, @server, track_domain]
              = link_to "Kiểm tra DNS", [:check, organization, @server, track_domain], :remote => true, :method => :post, :data => {:disable_with => "Đang kiểm tra..."}
              = link_to "Xóa", [organization, @server, track_domain], :remote => true, :method => :delete, :data => {:confirm => "Bạn chắc chắn muốn xóa tên miền này?", :disable_with => "Đang xóa..."}, :class => 'domainList__delete'

    %p.u-center= link_to "Thêm tracking domain", [:new, organization, @server, :track_domain], :class => "button button--positive"
