= form_for [organization, @server, @webhook], :remote => true do |f|
  = f.error_messages
  %fieldset.fieldSet
    .fieldSet__field
      = f.label :name, :class => 'fieldSet__label'
      .fieldSet__input
        = f.text_field :name, :autofocus => true, :class => 'input input--text'
        %p.fieldSet__text
          Nhập tên mô tả webhook để dễ nhận diện sau này trên giao diện quản trị.

    .fieldSet__field
      = f.label :url, :class => 'fieldSet__label'
      .fieldSet__input
        = f.text_field :url, :class => 'input input--text'
        %p.fieldSet__text
          Nhập URL mà hệ thống sẽ gửi request tới. Tất cả request đều là POST request
          với payload JSON nằm trong body.
    .fieldSet__field
      = f.label :enabled, :class => 'fieldSet__label'
      .fieldSet__input
        = f.select :enabled, [["Có - gửi request tới webhook này", true], ["Không - tạm thời chưa gửi request", false]], {},:class => 'input input--select'
        %p.fieldSet__text
          Bạn có thể bật hoặc tắt webhook mà không cần xóa khỏi hệ thống. Những lần gửi webhook còn đang chờ
          vẫn sẽ được hoàn tất dù webhook đã tắt.

    .fieldSet__field
      = f.label :all_events, 'Sự kiện', :class => 'fieldSet__label'
      .fieldSet__input
        = hidden_field_tag 'webhook[events][]'
        = f.select :all_events, [["Có - gửi tất cả sự kiện tới URL này", true], ["Không - tôi sẽ chọn sự kiện cần gửi", false]], {},:class => 'input input--select fieldSet__checkboxListAfter js-checkbox-list-toggle'
        %ul.checkboxList{:class => [@webhook.all_events? ? 'is-hidden' : '']}
          - for event in WebhookEvent::EVENTS
            %li.checkboxList__item
              .checkboxList__checkbox= check_box_tag "webhook[events][]", event, @webhook.events.include?(event), :id => "event_#{event}"
              .checkboxList__label
                = label_tag "event_#{event}", event, :class => 'checkboxList__actualLabel checkboxList__devEvent'
                %p.checkBoxList__text= t("webhook_events.#{event.underscore}")

  .fieldSetSubmit.buttonSet
    = f.submit @webhook.new_record? ? "Tạo webhook" : "Lưu webhook", :class => 'button button--positive js-form-submit'
    .fieldSetSubmit__delete
      - if f.object.persisted?
        = link_to "Xóa webhook", [organization, @server, @webhook], :remote => true, :class => 'button button--danger', :method => :delete, :data => {:confirm => "Bạn chắc chắn muốn xóa webhook này?"}

