- page_title << @server.name
- page_title << "Webhooks"
- page_title << "Lịch sử"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :webhooks
= render 'header', :active_nav => :history

.pageContent.pageContent--compact
  - if @requests[:records].empty?
    .noData.noData--clean
      %h2.noData__title Chưa ghi nhận request webhook nào.
      %p.noData__text
        Trang này hiển thị các request webhook được OmmicomMail gửi trong 10 ngày gần nhất.
        Dữ liệu sẽ tự động xuất hiện khi webhook được gửi.

  - else
    %p.pageContent__intro.u-margin
      Trang này hiển thị danh sách request webhook đã gửi cho máy chủ này. Dữ liệu được lưu 10 ngày
      trước khi bị xóa. Nhấp vào một request để xem thông tin chi tiết.
    %ul.webhookRequestList
      - for req in @requests[:records]
        %li.webhookRequestList__item
          = link_to history_request_organization_server_webhooks_path(organization, @server, req.uuid), :class => 'webhookRequestList__link' do
            .webhookRequestList__top
              %p.webhookRequestList__status
                %span.label{:class => "label--http-status-#{req.status_code.to_s[0,1]}"}= req.status_code
              %p.webhookRequestList__time= req.timestamp.strftime("%d/%m/%Y lúc %H:%M:%S")
              %p.webhookRequestList__event= req.event
            %p.webhookRequestList__url= req.url || "Không xác định"

    = render 'shared/message_db_pagination', :data => @requests, :name => 'request'
