- page_title << @server.name
- page_title << "Webhooks"
- page_title << "Lịch sử"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :webhooks
= render 'header', :active_nav => :history

.pageContent.pageContent--compact
  %dl.pageContent__definitions.u-margin
    %dt URL
    %dd= @req.url
    %dt Sự kiện
    %dd= @req.event
    %dt UUID
    %dd= @req.uuid

    %dt Thời gian
    %dd= @req.timestamp.strftime("%d/%m/%Y lúc %H:%M:%S")
    %dt Mã trạng thái HTTP
    %dd
      %span.label.label--large{:class => "label--http-status-#{@req.status_code.to_s[0,1]}"}= @req.status_code

    %dt Lần thử
    %dd
      = @req.attempt
      - if @req.will_retry?
        (sẽ được thử lại)

  %p.pageContent__title Payload
  %pre.codeBlock.u-margin.codeBlock--whitespace~ preserve @req.pretty_payload
  %p.pageContent__title Nội dung phản hồi
  %pre.codeBlock.u-margin= @req.body
  %p.u-margin= link_to "Quay lại lịch sử", [:history, organization, @server, :webhooks], :class => "button button--neutral"
