- if params[:email_address]
  %p.pageContent__intro.u-margin
    Hệ thống đã gửi email tới <b>#{params[:email_address]}</b>. Vui lòng kiểm tra email và nhập
    mã xác minh vào ô bên dưới.
  = form_tag request.fullpath, :remote => true do
    = hidden_field_tag 'email_address', params[:email_address]
    %p.u-margin
      = text_field_tag "code", params[:code], :autofocus => true, :class => 'input input--text js-multibox'
    .buttonSet
      = submit_tag "Xác minh tên miền", :class => 'button js-form-submit'
      = link_to "Quay lại danh sách tên miền", [organization, @server, :domains], :class => "button button--neutral"


- else
  %p.pageContent__intro.u-margin
    Để xác minh quyền sở hữu <b>#{@domain.name}</b> bằng email, hãy chọn một địa chỉ email trong danh sách
    bên dưới. Hệ thống sẽ gửi mã xác minh tới địa chỉ đó để bạn nhập lại.

  = form_tag request.fullpath, :remote => true do
    %p.u-margin
      = select_tag "email_address", options_for_select(@domain.verification_email_addresses), :class => 'input input--select', :autofocus => true
    %p.buttonSet
      = submit_tag "Tiếp tục", :class => 'button'
      = link_to "Quay lại danh sách tên miền", [organization, @server, :domains], :class => "button button--neutral"

