- if @server
  - page_title << @server.name
- page_title << "Thêm tên miền"

- if @server
  = render 'servers/sidebar', :active_server => @server
  = render 'servers/header', :active_nav => :domains
  = render 'nav', :active_nav => :domains
- else
  .pageHeader
    %h1.pageHeader__title
      %span.pageHeader__titlePrevious
        = @organization.name
        &rarr; Tên miền &rarr;
      Thêm tên miền mới
  = render 'organizations/nav', :active_nav => :domains

.pageContent.pageContent--compact
  = form_for [organization, @server, @domain], :remote => true do |f|
    = f.error_messages
    %fieldset.fieldSet
      .fieldSet__field
        = f.label :name, :class => 'fieldSet__label'
        .fieldSet__input= f.text_field :name, :autofocus => true, :class => 'input input--text'
      - unless current_user.admin?
        .fieldSet__field
          = f.label :verification_method, :class => 'fieldSet__label'
          .fieldSet__input
            = f.select :verification_method, Domain::VERIFICATION_METHODS, {}, :class => 'input input--select'
            .fieldSet__text
              Chọn cách xác minh quyền sở hữu tên miền. Nếu chọn <b>E-Mail</b>, hệ thống sẽ gửi mã xác minh
              tới một địa chỉ email có sẵn của tên miền để bạn nhập lại. Nếu chọn <b>DNS</b>, bạn cần thêm
              bản ghi TXT cho tên miền trong trang quản lý DNS.

    .fieldSetSubmit
      = f.submit "Thêm tên miền", :class => "button button--positive js-form-submit"
