- page_title << @server.name
- page_title << "Định tuyến"
- page_title << "Endpoint địa chỉ"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :routing
= render 'routes/header', :active_nav => :address_endpoints
.pageContent.pageContent--compact

  - if @address_endpoints.empty?
    .noData.noData--clean
      %h2.noData__title Chưa có endpoint địa chỉ nào.
      %p.noData__text
        Endpoint địa chỉ là các địa chỉ email nằm trên nền tảng khác mà bạn muốn chuyển email tới.
        Sau khi tạo endpoint, bạn có thể gửi email tới chúng bằng cách tạo #{link_to 'route', [organization, @server, :routes], :class => 'u-link'}.
      %p.noData__button
        = link_to "Thêm endpoint địa chỉ đầu tiên", [:new, organization, @server, :address_endpoint], :class => 'button button--positive'

  - else

    %ul.endpointList.u-margin
      - for endpoint in @address_endpoints
        %li.endpointList__item
          = link_to [:edit, organization, @server, endpoint], :class => 'endpointList__link' do
            .endpointList__main
              %p.endpointList__name= endpoint.address
            %ul.endpointList__details
              %li.endpointList__detailItem
                - if endpoint.last_used_at
                  Đã dùng #{distance_of_time_in_words_to_now endpoint.last_used_at} trước
                - else
                  Chưa được sử dụng

    %p.u-center= link_to "Thêm endpoint địa chỉ", [:new, organization, @server, :address_endpoint], :class => 'button button--positive'
