- page_title << @server.name
- page_title << "Thông tin xác thực"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :credentials
.pageContent.pageContent--compact
  - if @credentials.empty?
    .noData.noData--clean
      %h2.noData__title Máy chủ này chưa có thông tin xác thực.
      %p.noData__text
        Để xác thực với máy chủ mail, bạn cần dùng thông tin xác thực. Sau khi
        thêm mới, hệ thống sẽ cấp token riêng để xác thực với dịch vụ SMTP hoặc HTTP API.
      .noData__button= link_to "Thêm thông tin xác thực đầu tiên", [:new, organization, @server, :credential], :class => 'button button--positive'
  - else
    %p.pageContent__intro.u-margin
      Để xác thực với máy chủ mail, bạn cần dùng thông tin xác thực. Sau khi
      thêm mới, hệ thống sẽ cấp token riêng để xác thực với dịch vụ SMTP hoặc HTTP API.
    %p.u-margin.pageContent__helpLink= link_to "Xem thêm về gửi email đi", [organization, @server, :help_outgoing]
    %ul.credentialList.u-margin
      - for credential in @credentials
        %li.credentialList__item
          = link_to [:edit, organization, @server, credential], :class => 'credentialList__link' do
            .credentialList__type
              %span.label{:class => "label--credentialType-#{credential.type.underscore}"}= credential.type.split('-').last
            .credentialList__properties
              %p.credentialList__name
                = credential.name
                - if credential.hold?
                  %span.label.label--red Đang giữ
              %p.credentialList__key= credential.key
            .credentialList__usedAt{:class => "credentialList__usedAt--#{credential.usage_type.underscore}"}
              - if credential.last_used_at
                %p.credentialList__usedAtTitle= credential.usage_type
                %p Đã dùng #{distance_of_time_in_words_to_now credential.last_used_at} trước
              - else
                %p Chưa được sử dụng

    %p.u-center.buttonSet.buttonSet--center
      = link_to "Thêm thông tin xác thực", [:new, organization, @server, :credential], :class => 'button button--positive'
