- page_title << organization.name
- page_title << "Xóa"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = organization.name
      &rarr;
    Xóa tổ chức
= render 'nav', :active_nav => :delete
.pageContent.pageContent--compact
  %h2.pageContent__intro.u-margin
    Nếu không còn cần tổ chức này, bạn có thể xóa nó. Khi xóa tổ chức,
    toàn bộ máy chủ mail và dữ liệu liên quan sẽ bị xóa khỏi hệ thống.
  .dangerZone
    %p.pageContent__text.u-margin
      Để tiếp tục xóa tổ chức này, hãy nhập tên tổ chức vào ô bên dưới rồi xác nhận.
      <b class='u-red'>Sẽ không có bước xác nhận nào khác.</b>
    = form_tag [organization, :delete], :method => :delete, :remote => true do
      = hidden_field_tag 'return_to', params[:return_to]
      %p.u-margin
        = text_field_tag "confirm_text", '', :class => 'input input--text input--danger'
      .buttonSet.u-center
        = submit_tag "Xóa tổ chức, máy chủ mail và toàn bộ email", :class => 'button button--danger js-form-submit'
