- page_title << @organization.name
- page_title << "Cài đặt tổ chức"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = @organization.name
      &rarr;
    Cài đặt

= render 'nav', :active_nav => :settings

.pageContent.pageContent--compact
  = form_for @organization_obj, :url => organization_settings_path(@organization_obj), :remote => true do |f|
    = f.error_messages
    %fieldset.fieldSet
      .fieldSet__field
        = f.label :name, :class => 'fieldSet__label'
        .fieldSet__input= f.text_field :name, :autofocus => true, :class => 'input input--text'
      .fieldSet__field
        = f.label :time_zone, :class => 'fieldSet__label'
        .fieldSet__input
          = f.time_zone_select :time_zone, [], {}, :class => 'input input--select'
          %p.fieldSet__text
            Chọn múi giờ của tổ chức. Múi giờ này được dùng khi hiển thị thời gian ở những nơi
            không có người dùng đăng nhập để cung cấp múi giờ riêng.

    %p.fieldSetSubmit.buttonSet
      = f.submit "Lưu cài đặt", :class => 'button button--positive js-form-submit'
