- page_title << "Welcome"

.pageHeader
  %p.pageHeader__eyebrow Ommicom ecosystem
  %h1.pageHeader__title Welcome back, #{current_user.first_name}
  %p.pageHeader__text Manage organizations, mail servers, domains, credentials, and delivery operations in one workspace.

.pageContent.pageContent--compact.organizationWelcome

  - if @organizations.empty?
    .noData.noData--clean
      %p.noData__title There are no organizations.
      - if current_user.admin?
        %p.noData__text
          You need an organization otherwise you can't do much here. Hit
          the button below to create the first organization.
        %p.noData__button= link_to "Create the first organization", :new_organization, :class => 'button button--positive'
      - else
        %p.noData__text
          You don't have access to any organizations yet. Ask your administrator to invite
          you to some organizations.
  - else
    .organizationWelcome__panel
      .organizationWelcome__intro
        %p.organizationWelcome__eyebrow Workspace
        %h2.organizationWelcome__title Your organizations
        %p.organizationWelcome__text
          Choose an organization to manage its mail servers, domains, routing, credentials, and delivery settings.

      %ul.largeList.organizationWelcome__list
        - for organization in @organizations
          %li.largeList__item
            = link_to organization_root_path(organization), :class => 'largeList__link' do
              %span.largeList__avatar= organization.name.first.upcase
              %span.largeList__content
                %span.largeList__title= organization.name
                %span.largeList__subText Mail operations workspace
              %span.largeList__arrow →

      - if current_user.admin?
        .organizationWelcome__actions
          = link_to "Create organization", :new_organization, :class => 'button button--positive'
